.body {
  border: 1px solid black;
  flex: 0.9;
  background-color: #222121;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.body::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 768px) {
  .body {
    flex: 1;
  }
}
